.App {
    font-family: sans-serif;
    text-align: left;
    background-color: '#E4E4E4';
    flex-direction: 'row'; 
  }
  .page {
    background-color: '#E4E4E4';
    flex-direction: 'row'; 
  }
  .section {
    padding: 10;    
    margin: 10;  
    flex-Grow: 1;
  }